/javascript-exercises-main
/javascript/restaurant-page/node_modules/
/javascript/todo-list/node_modules/
/javascript/weather-app/node_modules/
/javascript/testing-practice/node_modules/
/javascript/exercises/
/scratch/