* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family:'Century Gothic';
}

.list_holder {
    list-style-type:none;
}

ol {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

a:hover {
    text-shadow: #ffcc00 1px 0 10px;
}

.panels {
    display:flex;
    flex-direction: column;
    flex:5 1 auto;
    height:100vh;
    justify-content: center;
}

.panel {
    flex:1;

}

.panel:nth-child(2n) {
    background-color: bisque;
}