@import url('https://googleapis.com');

/*
█████ █   █ █████ ████  █   █ █████ █   █ ███ █   █  ███  
█     █   █ █     █   █  █ █    █   █   █  █  ██  █ █     
████  █   █ ████  ████    █     █   █████  █  █ █ █ █  ██ 
█      █ █  █     █  █    █     █   █   █  █  █  ██ █   █ 
█████   █   █████ █   █   █     █   █   █ ███ █   █  ███  
*/

body {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:0;
}

p {
  font-family: "Roboto", 'Playfair Display', serif;
  text-wrap: wrap;
}

h2 {
  font-family: 'Playfair Display';
  font-weight:590;
  font-size:xx-large;
}

svg {
  max-width:20px;
}

.row {
  display: flex;
  flex-direction:row;
}

h3 {
  font-family: 'Playfair Display', 'serif';
  font-weight: 550;
}

/*
█   █ █████  ███  ████  █████ ████  
█   █ █     █   █ █   █ █     █   █ 
█████ ████  █████ █   █ ████  ████  
█   █ █     █   █ █   █ █     █  █  
█   █ █████ █   █ ████  █████ █   █ 
*/

header {
  display:flex;
  align-items: center;
  background: linear-gradient(-190deg, #007bff 50%, #ffffff 50%);
  padding-top:50px;
}

.header-row {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.header-icons-row {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  gap:10px;
}

#about{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width:40%;
  padding-left:20px;
  padding-right:60px;
  height:300px;
  transform:translate(0, 100px);
  text-align:justify
}

header, #work {
  padding-left:2%;
  padding-right:2%;
}

img {
  position:relative;
  max-height:500px;
}

/*
████  ████   ███    ███ █████  ███  █████  ████ 
█   █ █   █ █   █    █  █     █       █   █     
████  ████  █   █    █  ████  █       █    ███  
█     █  █  █   █ █  █  █     █       █       █ 
█     █   █  ███   ██   █████  ███    █   ████  
*/


.project-img {
  max-height:300px;
}

.project {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: min-content;
  margin:20px;
  padding-bottom: 50px;
}

.project p, .project div {
  padding-left:8%;
  padding-right:8%;
}

.project-holder {
  display:grid;
  grid-template-columns: repeat(3, 1fr)
}

.project-row {
  display:grid;
  grid-template-columns: 1fr 30px 30px;
  align-items:center;
}

@media (max-width: 600px) {
  .project-holder {
    grid-template-columns: repeat(2, 1fr)
  }
}


/*
█████  ███   ███  █████ █████ ████  
█     █   █ █   █   █   █     █   █ 
████  █   █ █   █   █   ████  ████  
█     █   █ █   █   █   █     █  █  
█      ███   ███    █   █████ █   █ 
*/

footer {
  background-color: #007bff;
  width:100%;
  display:flex;
  justify-content: center;
  color:white;
}

footer a {
  color:white;
  text-decoration: none;
}

footer svg {
  filter: invert(100%) sepia(70%) saturate(0%) hue-rotate(30deg) brightness(108%) contrast(101%);
}